// --------------------------------------------------------------------------------
// COMPONENTS - PAGINATION
// --------------------------------------------------------------------------------
.m-pagination {
    @include font-size(0.8750); // 14px
    @include theme() {
        color: theme-get('table-footer-color');
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .results {
        @include theme() {
            border-color: theme-get('table-border-color');
        }

        border-left-width: 1px;
        border-left-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
        line-height: $spacing-52;
        padding: 0 $spacing-12;
    }

    .show {
        @include theme() {
            border-color: theme-get('table-border-color');
        }
        border-right-width: 1px;
        border-right-style: solid;
        display: flex;
        line-height: $spacing-52;
        padding: 0 $spacing-12;
    }

    .jump-to {
        @include theme() {
            border-color: theme-get('table-border-color');
        }
        border-right-width: 1px;
        border-right-style: solid;
        display: flex;
        line-height: $spacing-52;
        padding: 0 $spacing-12;
    }

    .pages {
        display: flex;
        line-height: $spacing-52;
        padding: 0 $spacing-12;
        
        > div {
            padding: 0 $spacing-8
        }
    }
}