// --------------------------------------------------------------------------------
// COMPONENTS - PAGINATION
// --------------------------------------------------------------------------------
.m-pagination {
    @include font-size(0.8750); // 14px
    @include theme() {
        color: theme-get('table-footer-color');
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > div {
        display: flex;
        line-height: $spacing-52;
        padding: 0 $spacing-16;
    }

    .pages {
        justify-content: center;
        min-width: 300px;
        
        > div {
            padding: 0 $spacing-8
        }

        .active {
            font-weight: $font-weight-semibold;
        }
    }
}