// --------------------------------------------------------------------------------
// COMPONENTS - FORM SELECT
// --------------------------------------------------------------------------------
.m-form-select {
    select {
        @include font-size(1.0000); // 16px
        @include theme() {
            background: theme-get('input-background');
            color: theme-get('input-color');
        } 

        border: 0;
        border-radius: $border-radius;
        display: block;
        margin-bottom: 0;
        outline: none;
        padding: $spacing-8;
        width: 100%;
    }
}