// --------------------------------------------------------------------------------
// COMPONENTS - BUTTON
// --------------------------------------------------------------------------------
.m-button {
    @include transition (all $transition-timer-400ms $transition-easeInOutQuad);
    @include font-size(0.8750); // 14px

    border: 0;
    border-radius: $border-radius;
    cursor: pointer;
    display: block;
    height: $input-height;
    max-width: 280px;
    outline: none;
    padding: 10px $spacing-16;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.m-button-primary {
    @include theme() {
        background: theme-get('button-primary-background');
        color: theme-get('button-primary-color');
    } 
    
    &:hover {
        @include theme() {
            background: theme-get('button-primary-background-hover');
        } 
    }
}

.m-button-secondary {
    @include theme() {
        background: theme-get('button-secondary-background');
        color: theme-get('button-secondary-color');
    } 

    &:hover {
        @include theme() {
            background: theme-get('button-secondary-background-hover');
        } 
    }
}

.m-button-text {
    cursor: pointer;
}

.m-button-icon {
    @include clearfix();
    @include theme() {
        background: theme-get('button-primary-background');
        color: theme-get('button-primary-color');
    } 

    display: flex;

    svg {
        @include theme() {
            fill: theme-get('button-primary-color');
        } 

        height: $spacing-16;
        margin-right: $spacing-4;
        width: $spacing-16;
    }

    &:hover {
        @include theme() {
            background: theme-get('button-primary-background-hover');
        } 
    }
}

.m-button-table-new {
    position: absolute;
    top: 0;
    right: 0;
}