// --------------------------------------------------------------------------------
// LAYOUT - NAV
//---------------------------------------------------------------------------------
.t-layout nav {
    @include theme() {
        background: theme-get('nav-background');
    }     
    @include font-size(1.1250); // 18px

	grid-area: t-nav;
    position: relative;

    svg {
        @include theme() {
            fill: theme-get('nav-item-fill');
        }
        height: $icon-size-36;
        width: $icon-size-36;
    }

	ul li {
		margin-bottom: $spacing-20;
	}

    .logo {
        margin-top: $spacing-8;

    }

    .site {
        margin-top: $spacing-52;
    }

    .util {
        @include position(absolute, $bottom: 0);
    }
}