// --------------------------------------------------------------------------------
// LAYOUT - NAV
//---------------------------------------------------------------------------------
.t-layout nav {
    @include theme() {
        background: theme-get('nav-background');
    }     
    @include font-size(1.1250); // 18px

	grid-area: t-nav;
    position: relative;

	ul li {
		margin-bottom: $spacing-20;
	}

    .m-icon {
       margin: 0 $spacing-8;

       svg {
            @include theme() {
                fill: theme-get('nav-item-fill');
            }
        }
    }

    .logo {
        margin-top: $spacing-12;
    }

    .site {
        margin-top: $spacing-52;
    }

    .util {
        @include position(absolute, $bottom: 0);
    }
}