// --------------------------------------------------------------------------------
// LAYOUT - HEADER
//---------------------------------------------------------------------------------
.t-layout header {
    @include theme() {
        background: theme-get('header-background');
        color: theme-get('header-color');
    } 

	grid-area: t-header;

    .title {
        @include font-size(1.3130);

        line-height: 60px;
        padding-left: $spacing-20;
        text-decoration: uppercase;
    }
}
