// --------------------------------------------------------------------------------
//  ELEMENTS
//---------------------------------------------------------------------------------
*, *:before, *:after {
    box-sizing: inherit;
    text-shadow: none !important;
}

body {
    box-sizing: border-box;
    //box-sizing: content-box;
    
    -webkit-font-smoothing: antialiased; 
    -webkit-tap-highlight-color: $color-white;
    -webkit-text-size-adjust: none;

    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

body, html {
    font-family: $font-family;
    font-size: $font-size; // 16px
    font-weight: $font-weight-regular;

    height: 100%;
    width: 100%;

    min-height: $client-height;
    min-width: $client-width;
}

html {
    overflow: auto;
}

.app {
    @include theme() {
        background: theme-get('layout-body-background');
        color: theme-get('layout-body-color');
    } 

    height: 100%;
    width: 100%;

    min-height: $client-height;
    min-width: $client-width;
    
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0;
}

h2 {
    margin-bottom: $spacing-12;
}

a {
    color: $color-blue;
    text-decoration: underline;
}

fieldset {
    border: 0;
    padding: 0;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: $color-black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
}