// --------------------------------------------------------------------------------
// THEMES
// --------------------------------------------------------------------------------

// DEFAULTS
$border-color:                                      $color-grey-300;
$input-height:                                      36px;

$nav-width:                                         60px;
$header-height:                                     60px;

$themes: (
    darkTheme: (
        'layout-body-background': $color-grey-100,
        'layout-body-color': $color-white,

        'layout-scroll-background': $color-grey-100,
        'layout-scroll-thumb': $color-grey-500,

        'nav-background': $color-grey-300,

        'header-background': $color-grey-300,
        'header-color': $color-white,
    ),
    lightTheme: (
        'layout-body-background': $color-white,
        'layout-body-color': $color-black,

        'layout-scroll-background': $color-white,
        'layout-scroll-thumb': $color-grey-500,

        'nav-background': $color-grey-500,

        'header-background': $color-grey-500,
        'header-color': $color-black,
    )
);

// THEME USAGE
/*
.body {
    @include theme() {
        background: theme-get('layout-body-background');
    }    
}
*/
