// --------------------------------------------------------------------------------
// THEMES
// --------------------------------------------------------------------------------

// DEFAULTS
$border-color:                                      $color-grey-300;
$input-height:                                      36px;

$nav-width:                                         60px;
$header-height:                                     60px;

$modal-mask-opacity:                                .9;

$drawer-mask-opacity:                               1;
$drawer-opacity:                                    .95;
$drawer-width:                                      360px;
$drawer-header-height:                              60px;

$input-background:                                  $color-grey-300;



$themes: (
    darkTheme: (
        'layout-body-background': $color-gray-150,
        'layout-body-color': $color-white,

        'layout-scroll-background': $color-grey-100,
        'layout-scroll-thumb': $color-grey-400,

        'nav-background': $color-grey-200,
        'nav-item-fill': $color-white,

        'header-background': $color-grey-200,
        'header-color': $color-white,
        'header-notification-inbox-fill': $color-white,

        'modal-mask-color': $color-grey-100,
        'modal-background': $color-grey-200,
        'modal-color': $color-white,

        'drawer-mask-color': $color-transparent,
        'drawer-background': $color-grey-100,
        'drawer-color': $color-white,
        'drawer-close-fill': $color-white,
        'drawer-content-background': $color-grey-100,

        'notificaiton-background': $input-background,
        'notificaiton-default': $color-grey-200,
        'notificaiton-info': $color-blue,
        'notificaiton-success': $color-green,
        'notificaiton-warning': $color-yellow,
        'notificaiton-error': $color-red,

     ),
    lightTheme: (
        'layout-body-background': $color-white,
        'layout-body-color': $color-black,

        'layout-scroll-background': $color-white,
        'layout-scroll-thumb': $color-grey-500,

        'nav-background': $color-grey-500,
        'nav-item-fill': $color-black,

        'header-background': $color-grey-500,
        'header-color': $color-black,
        'header-notification-inbox-fill': $color-black,

        'modal-mask-color': $color-white,
        'modal-background': $color-grey-500,
        'modal-color': $color-black,

        'drawer-mask-color': $color-white,
        'drawer-background': $color-grey-500,
        'drawer-color': $color-black,
        'drawer-close-fill': $color-white,
        'drawer-content-background': $color-grey-100,

        'notificaiton-background': $input-background,
        'notificaiton-default': $color-grey-500,
        'notificaiton-info': $color-blue,
        'notificaiton-success': $color-green,
        'notificaiton-warning': $color-yellow,
        'notificaiton-error': $color-red,        
    )
);

// THEME USAGE
/*
.body {
    @include theme() {
        background: theme-get('layout-body-background');
    }    
}
*/
