// --------------------------------------------------------------------------------
// COMPONENTS - CARD
// --------------------------------------------------------------------------------
.m-card {
    @include theme() {
        background: theme-get('input-background');
        color: theme-get('input-color');
    } 

    border-radius: $border-radius;
    min-height: 200px;
    padding: $spacing-20;
    position: relative;

    .title {
        @include font-size(1.1250); // 18px

        font-weight: $font-weight-semibold;
        margin-bottom: $spacing-16;
        text-transform: uppercase;
    }

    .con {
       height: inherit;
       position: relative;
       width: inherit;
    }
}