// --------------------------------------------------------------------------------
// COMPONENTS - CARD
// --------------------------------------------------------------------------------
.m-card {
    @include theme() {
        background: theme-get('input-background');
        color: theme-get('input-color');
    } 

    border-radius: $border-radius;
    min-height: 200px;
    padding: $spacing-20;
    position: relative;

    .title {
        @include font-size(1.1250); // 18px

        font-weight: $font-weight-semibold;
        margin-bottom: $spacing-16;
        text-transform: uppercase;
    }

    .con {
       height: inherit;
       position: relative;
       width: inherit;
    }

    &.m-card-full-viewport {
        @include position(absolute, $top:0, $right:0, $bottom: 0, $left:0);

        display: grid;
        grid-gap: 0;
        grid-template-columns: auto;
        grid-template-rows: 37px 1fr; // Need to set a hard hight for the title div @37px
        margin: $spacing-20;
    }
}