// --------------------------------------------------------------------------------
// COMPONENTS - ICON
// --------------------------------------------------------------------------------
.m-icon {
    svg {
        display: block;
    }
}

.m-icon-nav {
    padding: $spacing-12;
}

.m-icon-24 {
    padding: $spacing-8;
}