// --------------------------------------------------------------------------------
// COMPONENTS - ICON
// --------------------------------------------------------------------------------
.m-icon {
    cursor: pointer; 
    
    svg {
        display: block;
    }
}

.m-icon-nav {
    padding: $spacing-12;
}
