// --------------------------------------------------------------------------------
// COMPONENTS - FORM CHECKBOX
// --------------------------------------------------------------------------------
.m-form-checkbox {
    margin-bottom: $spacing-12;

    user-select: none;

    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked)
    {
        position: absolute;
        left: $zi-hide;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label
    {
        @include theme() {
            color: theme-get('input-label');
        } 

        cursor: pointer;
        display: block;
        padding-left: $spacing-24;
        position: relative;
        line-height: $spacing-20;
    }
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before
    {
        @include position(absolute, $top: 0, $left: 0);

        content: '';
        background: $input-background;
        border-radius: $border-radius;
        content: '';
        height: $spacing-20;
        width: $spacing-20;
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after
    {
        @include position(absolute, $top: 6px, $left: 6px);

        border-radius: $spacing-1;
        content: '';
        height: $spacing-8;
        transition: all $transition-timer-200ms $transition-easeInOutQuad;
        width: $spacing-8;
    }
    [type="checkbox"]:not(:checked) + label:after
    {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after
    {
        opacity: 1;
        transform: scale(1.6);
    }

    /*
    [type="checkbox"]:disabled:checked + label:before,
    [type="checkbox"]:disabled:not(:checked) + label:before
    {
        border-color: #ccc;
        background-color: #eee;
    }
    [type="checkbox"]:disabled:checked + label:after
    {
        background: #aaa;
    }
    */
}