// --------------------------------------------------------------------------------
// COMPONENTS - MODAL
// --------------------------------------------------------------------------------
.modal-mask {
    @include position(fixed, $top: 0, $left: 0);
    @include theme() {
        background: theme-get('modal-mask-color');
    } 

    height: 100vh;
    opacity: $modal-mask-opacity;
    width: 100vw;
    z-index: 1040;
}

.modal-con {
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}

.modal {
    @include theme() {
        background: theme-get('modal-background');
        color: theme-get('modal-color');
    } 

    border-radius: $border-radius;
    box-shadow: $box-shadow;
    height: 400px;
    margin: auto;
    padding: $spacing-20;
    width: 400px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-gap: 0;
	grid-template-areas: "modal-header" "modal-content" "modal-footer";
    grid-template-columns: auto;
	grid-template-rows: $header-height 1fr $header-height;
    padding: 0;

    z-index: 100;
}

.modal-header {
    @include font-size(1.1250); // 18px

    display: flex;
    font-weight: $font-weight-semibold;
    line-height: 60px;
    justify-content: space-between;
    padding: 0 $spacing-20;

    .m-icon {
        margin-top: $spacing-20;
    }

    svg {
        fill: $color-white;
    }
}

.modal-content {
    @include scrollbar($spacing-8, false);
    @include theme() {
        background: theme-get('modal-content-background');
    } 

    overflow-y: auto;
    padding: $spacing-20;
}

.modal-footer {
    padding: $spacing-12 $spacing-4;
}

.modal-close-button {
    border: none;
    cursor: pointer;

    svg {
        @include theme() {
            fill: theme-get('modal-close-fill');
        } 
    } 
}