// --------------------------------------------------------------------------------
// COMPONENTS - DRASER
// --------------------------------------------------------------------------------
.drawer-mask {
    @include position(fixed, $top: 0, $left: 0);
    @include theme() {
        background: theme-get('drawer-mask-color');
    } 

    height: 100vh;
    opacity: $drawer-mask-opacity;
    width: 100vw;
    z-index: $zi-drawer;
}

.drawer-con {
    @include position(fixed, $top: 0, $left: 0);

    height: 100%;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    z-index: $zi-drawer;
}

.drawer {
    @include theme() {
        background: theme-get('drawer-background');
        color: theme-get('drawer-color');
    } 

    display: grid;
    grid-gap: 0;
	grid-template-areas: "drawer-header" "drawer-content" "drawer-footer";
    grid-template-columns: auto;
	grid-template-rows: $header-height 1fr $header-height;
    height: auto;
    margin: auto;
    opacity: $drawer-opacity;
    padding: 0;
    width: $drawer-width;
    z-index: $zi-drawer-content;

    &.left {
        @include position(absolute, $top: $header-height, $left: $nav-width, $bottom: 0);
    }

    &.right {
        @include position(absolute, $top: $header-height, $right: 0, $bottom: 0);
    }
}

.drawer-header {
    @include font-size(1.1250); // 18px
    @include theme() {
        color: theme-get('drawer-header-color');
    } 

    display: flex;
    font-weight: $font-weight-semibold;
    line-height: $drawer-header-height;
    justify-content: space-between;
    padding: 0 $spacing-20;

    .m-icon {
        margin-top: $spacing-20;
    }

    svg {
        @include theme() {
            fill: theme-get('drawer-header-color');
        }
    }
}

.drawer-content {
    @include scrollbar($spacing-8, false);
    @include theme() {
        background: theme-get('drawer-content-background');
    } 
    overflow-y: auto;
    padding: $spacing-20;
}

.drawer-footer {
    padding: $spacing-12 $spacing-20;
}