// --------------------------------------------------------------------------------
// COMPONENTS - BUTTON GROUP
// --------------------------------------------------------------------------------
.m-button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: $spacing-8;

    > * {
        margin-left: $spacing-12;
    }

    > *:first-child {
        margin-left: 0;
    }
}

.m-button-group-right {
    justify-content: flex-end;
}

.m-button-group-center-full {
    justify-content: center;

    > * {
        flex-grow: 1;
        flex-basis: 0;
    }
}

.m-button-group-card {
    justify-content: flex-end;
    padding-right: 0;
}

.m-button-group-table-actions {
    justify-content: flex-end;
    padding: 0;

    > *:last-child {
        margin-right: $spacing-12;
    }    
}