// --------------------------------------------------------------------------------
// COMPONENTS - FORM TEXTBOX
// --------------------------------------------------------------------------------
.m-form-textbox {
    input[type=text], input[type=number], input[type=password] {
        @include font-size(1.0000); // 16px
        @include theme() {
            background: theme-get('input-background');
            color: theme-get('input-color');
        } 

        border: 0;
        border-radius: $border-radius;
        height: $input-height;
        margin-bottom: 0;
        outline: none;
        padding: 0 $spacing-8;
        width: 100%;
    }
}