// --------------------------------------------------------------------------------
// COMPONENTS - FORM INPUT
// --------------------------------------------------------------------------------
.m-form-input {
    margin-bottom: $spacing-20;

    &.last {
        margin-bottom: 0;
    }
}

.m-form-input-horizontal {
    margin-right: $spacing-8;
}