// --------------------------------------------------------------------------------
// TEMPLATE - LAYOUT
//---------------------------------------------------------------------------------
.t-template {
	display: grid;
	grid-gap: 0;
	grid-template-areas: "t-nav t-main";
grid-template-columns: 60px 1fr;
	grid-template-rows: auto;
	height: 100vh;
}
