// --------------------------------------------------------------------------------
// TEMPLATE - MAIN
//---------------------------------------------------------------------------------
.t-template main {
    @include theme() {
        background: theme-get('layout-body-background');
    } 

	grid-area: t-main;
padding: 0;
    
	display: grid;
	grid-gap: 0;
	grid-template-areas: "t-header" "t-section";
    grid-template-columns: auto;
	grid-template-rows: 60px 1fr;;
	height: 100vh;

}
