// --------------------------------------------------------------------------------
// LAYOUT - MAIN
//---------------------------------------------------------------------------------
.t-layout main {
    @include theme() {
        background: theme-get('layout-body-background');
    } 

	display: grid;
	grid-area: t-main;
    grid-gap: 0;
	grid-template-areas: "t-header" "t-section";
    grid-template-columns: auto;
	grid-template-rows: $header-height 1fr;;
	height: 100vh;
    padding: 0;
}
