// --------------------------------------------------------------------------------
// COMPONENTS - TABLE
// --------------------------------------------------------------------------------
.m-table {

    background: $color-grey-200;
    height: 100%;
    position: relative;
    width: 100%;

    .con {
        @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
        @include theme() {
            border-color: theme-get('table-border-color');
        }

        border-width: 1px;
        border-radius: $border-radius;
        border-style: solid;            
        display: grid;
        grid-gap: 0;
        grid-template-columns: auto;
        grid-template-rows: $spacing-52 $spacing-52 1fr $spacing-52;

        &.expand-toolbar {
            grid-template-rows: auto $spacing-52 1fr $spacing-52;

            .toolbar .more {
                display: grid;
            }
        }
    }
 
    .toolbar {
        @include theme() {
            border-color: theme-get('table-border-color');
        }

        border-bottom-width: 1px;
        border-bottom-style: solid;  

        .main {
            display: flex;
            padding-left: $spacing-8;
    
            > div {
                margin: $spacing-8 $spacing-8 0 0;
                align-self: start;
            }       
        }

        .more {
            display: none;
            grid-gap: $spacing-8;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-rows: auto;
            padding: $spacing-8;
        }
    }

    .header {
        @include theme() {
            border-color: theme-get('table-border-color');
        }
        @include scrollbar(6px, true);

        border-bottom-width: 1px;
        border-bottom-style: solid;  
        display: grid;
        grid-template-columns: 300px repeat(auto-fit, minmax(100px, 1fr)); 
        overflow-y: scroll;
    
        > div {
            line-height: 45px;
            display: flex;
            padding: 0 $spacing-12;
        }
        > div:last-child {
            padding: 0;
        }

        .sort {
            cursor: pointer;
            margin-left: $spacing-8;
            margin-top: $spacing-12;

            .sort-up {
                border-right: $spacing-4 solid transparent;
                @include theme() {
                    border-bottom-color: theme-get('table-sort-color');
                }
                border-bottom-width: $spacing-4 * 1.732;
                border-bottom-style: solid;
                border-left: $spacing-4 solid transparent;
                margin-bottom: $spacing-4;
            }
            .sort-down {
                @include theme() {
                    border-top-color: theme-get('table-sort-color');
                }
                border-top-width: $spacing-4 * 1.732;
                border-top-style: solid;
                border-right: $spacing-4 solid transparent; 
                border-left: $spacing-4 solid transparent; 
            }
        }
    }

    .body {
        overflow-y: scroll;
        @include scrollbar(6px, false);
    }

    .footer {
        @include theme() {
            border-color: theme-get('table-border-color');
        }

        border-top-width: 1px;
        border-top-style: solid;              
    }
}