// --------------------------------------------------------------------------------
// LAYOUT - SECTION
//---------------------------------------------------------------------------------
.t-layout section {
    @include scrollbar($spacing-8);
    
	grid-area: t-section;
    padding: $spacing-20;
    overflow-y: auto;
}
